[2016-12-16 12:49] VaTz88 opened #8 "Incorrect slot gets selected on adding slot through `Add Course` input"
Adding slot `A1` from input in `Add Course` selects slot `L42` on timetable.

![bug image](https://cloud.githubusercontent.com/assets/16202323/21263205/80164ec2-c3bb-11e6-87f1-b782d74f8d49.png)

[2016-12-16 20:03] sangeeth96 commented on #8
Gawd! This thing changed again? :rage: Then the current logic would totally fail cause it's all based on that generated array. Such a drag!

[2016-12-17 04:25] VaTz88 commented on #8
Don't know what logic you have used but do you mean this problem is because i added saturday and sunday and two extra slots at the end of each day?
If saturday, sunday and extra slots are not required during course registration we can remove it.
But i would say use some different logic. Using classes might work better.

[2016-12-17 11:01] sangeeth96 commented on #8
Not, not that. Last two columns have different ordering. Currently, there is a `labArray[]` which handles lab + theory slots but now that the ordering is mixed, can't use it anymore. Yep, it'd be quite easier to use classes I agree. I still am not feeling the heat to start working so see if you can come up with something. Create a new branch and work on it I guess.

[2016-12-17 11:04] VaTz88 commented on #8
I'll leave it to you. Btw i'm not sure if to keep Sat, Sun and 2 extra cols. I think it's not required. I'll remove it later after proper confirmation. You can fix it after that.

[2016-12-17 19:55] sangeeth96 commented on #8
Okie dokie. :+1:

[2016-12-20 12:03] VaTz88 opened #9 "Add course code to timetable along with highlighting the slot"
Add course code and slot to timetable while highlighting it when added manually from Add Course panel

[2016-12-20 16:32] sangeeth96 commented on #8
Please see #10. I think I've managed to get it working again but test out just in case. Haven't tested on mobile devices though Chrome renders fine when in devices mode.

[2016-12-20 17:21] #8 closed

[2016-12-21 12:46] VaTz88 commented on #9
@sangeeth96 can do this i have added lab classes. See the development branch. I did something you will get the idea from it. Cann't uderstand your code -_-

[2016-12-21 14:48] sangeeth96 commented on #9
Yeah, I'm looking into it.

[2016-12-21 17:41] #9 closed

[2016-12-22 14:55] VaTz88 opened #17 "Also show course code in the list"
Show course code in the list of courses added from Add Course panel.

[2016-12-25 12:16] VaTz88 opened #23 "total credits value doesn't initialize to zero upon reset"
Upon clicking reset button total credits text changes to zero but the variable value remains as previous and thus gets added when new course is added.

[2016-12-25 12:39] VaTz88 commented on #23
Issue fixed.

[2016-12-25 12:39] #23 closed

[2016-12-26 05:38] #17 closed

[2017-06-24 03:37] VaTz88 opened #34 "Custom names for tables"
Allow user to name the added timetable. Like 'morning', 'evening', etc. instead of generic names like 'Table 1', 'Table 2', etc.

That'll be easy to remember for switching and also when user resumes back later sometime.

[2017-06-24 07:29] VaTz88 commented on #34
## Bug - Can't see rename input field on mobile

On mobile when rename is clicked the keyboard pops up on screen and the input field becomes invisible.

This happens because of `position:fixed` instead of `absolute` to support scroll on over flow.

[2017-06-24 14:45] VaTz88 opened #35 "Save quick visualization highlighted slots"
Slots highlighted currently are not saved if no course is present.
That is, the highlighted slots by tapping or quick visualization are not shown again upon opening the respective table once table is switched or page reopened/reloaded.

[2017-06-24 15:25] sangeeth96 opened #36 "Load course data if it exists"
## Current Issue
Previous course allocation is still there and currently manual removal is the proposed solution.

## Possible Workaround
1. Try to load the data via an AJAX call and if it fails, prevent initialization of autocomplete.
2. Add a flag variable to determine whether to initialize autocomplete or not. No. 1 solution is basically no work other than updating the manifest I guess.

[2017-06-24 17:06] #34 closed

[2017-06-24 17:07] #35 closed

[2017-06-26 17:35] VaTz88 commented on #36
resolved in https://github.com/VaTz88/FFCSonTheGo/commit/8a6f4663c63a95a61dfb3282ba102dc48e7ed8a8

[2017-06-26 17:35] #36 closed

[2017-06-26 19:38] sangeeth96 opened #42 "Bug: Unable to select course input fields"
## How to reproduce
+ Visit the website in mobile.
+ Open Developer Tools and bring down the size to `xs` or choose mobile.

## What it looks like
![ffcsotg_bug](https://user-images.githubusercontent.com/2759499/27556874-19f2083c-5ad5-11e7-86f7-ac6b886c2789.gif)

[2017-06-27 05:54] #42 closed

[2017-06-30 16:51] sangeeth96 opened #50 "Course selection buttons overflow their parent b/w *-sm and *-lg"
## Problem
![image](https://user-images.githubusercontent.com/2759499/27745341-94782286-5de0-11e7-930d-d2fb441e2f43.png)

[2017-06-30 17:22] #50 closed

[2017-06-30 17:23] vteja711 opened #52 "List and tt not synced properly"
SWE3001 - OPERATING SYSTEMS is there in the list but is not available to add in the timetable.

[2017-06-30 17:27] sangeeth96 commented on #52
Hi there! We're updating the data file we use and we'll soon make the changes live.

[2017-06-30 17:44] #52 closed

[2017-10-25 15:30] sangeeth96 opened #57 "Update time table layout to match the WS2018 version"
![image](https://user-images.githubusercontent.com/2759499/32007579-913c8b3c-b9c7-11e7-9916-9794b275cd2a.png)

[2017-10-25 16:06] sangeeth96 opened #59 "Update course list to match the latest allocation report"
Allocation report is available [here](https://1drv.ms/x/s!AhAoqL948GhrhsUxrYMDBIF1Q3oB1A). The format is `.xlsx` and that needs to be converted to JSON format and the data extracted to the following files:

- `data\all_data.json` — Should contain all the courses. Format can be referred from the existing version of this file.
- `data\unique_courses.json` — Should consist of only unique course detai

[2017-10-25 16:31] #57 closed

[2017-10-25 16:41] vatz88 commented on #59
@sangeeth96 Link to the file is not working.

[2017-10-25 16:58] sangeeth96 commented on #59
Updated.

[2017-10-25 17:03] vatz88 commented on #59
Well still not working but got it from a WhatsApp group, someone had uploaded it there ;)

![screenshot from 2017-10-25 22-31-45](https://user-images.githubusercontent.com/16202323/32012057-549107f0-b9d4-11e7-9c7c-8696a89cd2e8.png)

[2017-10-25 17:49] #59 closed

[2017-10-26 05:53] sangeeth96 opened #62 "New course allocation report in vtopbeta"
PDF can be found in vtopbeta. Running through export to Excel in Acrobat yields the excel doc [attached here](https://1drv.ms/x/s!AhAoqL948GhrhsUy8Z-ZhQQ5vFy0kA). Note that the excel document has column headers appearing for each page so the JSON parser needs to account for that.

![image](https://user-images.githubusercontent.com/2759499/32036854-026419ce-ba40-11e7-89eb-0b23c161b750.png)

[2017-10-26 09:13] amolmishra23 commented on #62
Removed all the headers.
https://drive.google.com/file/d/0B5XvmmV9gfyZQ0RDcmxnZlZkSjA/view?usp=sharing

[2017-10-26 09:21] vatz88 commented on #62
@amolmishra23 thanks! I'll update the site by tonight.

[2017-10-26 10:17] Shivam60 opened #63 "Theory and Project Clash for CAL courses"
when we add a subject, only its theory credits are added not lab or project.
Further **if we add project than it shows it in red meaning it is clashing** when it is not

[2017-10-26 11:26] vatz88 commented on #63
The course report excel has multiple columns, I'm only considering the last column `Credits`.

[2017-10-26 18:51] vatz88 commented on #62
Done :+1:

[2017-10-26 18:51] #62 closed

[2017-10-27 09:21] vatz88 opened #66 "Add a disclaimer banner"
Add a disclaimer banner that this is not some official site for ffcs by VIT and we are not responsible for any mismatch and discrepancies.
Students must verify all they plan with whatever official communication or information is given by VIT.

[2017-10-27 09:46] vatz88 commented on #63
Credits total seems kinda confusing but clash between theory and project should be fixed.
@sangeeth96 how about we consider `Project` column for credit totaling but don't add it to timetable to avoid clashing?

JSON data has to be modified for that to get correct credits for project and while adding course to the timetable ignore all `EPJ`

[2017-10-27 10:32] sangeeth96 commented on #63
![image](https://user-images.githubusercontent.com/2759499/32099893-cc2cd512-bb2f-11e7-9c04-10d319f9e872.png)
Well, what I was thinking was while making the JSON, combine ETH+ELA+EPJ to one subject for each faculty. This is valid based on what I've heard. You have to take the same faculty for each of these so there's no point in separately displaying them in the panel.

Basically, if a subject has

[2017-10-27 13:01] #66 closed

[2017-10-27 13:09] vatz88 commented on #63
this can be done if we get the confirmation that students can not take different faculty for different components of same course.

Well I thought `EPJ` has 0 in CREDITS fields and that is causing not counting of it. But if that's not the case credits total has no issues right?

[2017-10-27 13:14] vatz88 commented on #63
Also before combining we have to take care that it doesn't mess up the Non-CAL courses. AFAIK Non-CAL has no such restrictions about same faculty.

[2017-10-27 14:05] sangeeth96 commented on #63
I just tried something with a few assumptions and those didn't work. EPJ has 1 credit and the _Credits_ column values are proper. Current plan to create the JSON file is as follows:
1. Read the entire xls and convert it to JSON.
2. Filter the array of courses to two different arrays — `projectCourses` and `nonProjectCourses`.
3. Iterate through `projectCourses` and find the matching `nonProjectCou

[2017-10-27 14:08] vatz88 commented on #63
Dude that's so damn confusing!

[2017-10-27 14:21] vatz88 commented on #63
@sangeeth96 what we do next? Let it be what it is?

[2017-10-27 19:28] #63 closed

[2017-10-27 20:17] sangeeth96 opened #72 "Feature: Allow sorting of columns in course list"
![image](https://user-images.githubusercontent.com/2759499/32123432-c532738c-bb81-11e7-9609-1d2dcd9ed392.png)

This has been a requested feature and we'd love it if someone could help add this feature to the site. User should basically be able to click on the headers of the course list (`#courseListTable`) to sort the entire table by that column. This'd make it easy for someone to see the courses

[2017-10-28 03:20] sangeeth96 opened #74 "Bug: Lab and theory timings need to be considered to decide clashes"
Adjacent lab and theory slot timings need to be considered for the Winter Semester 2018 course registration to decide whether a clash occurred or not. Overlapping slots is not the only condition for a clash to occur.

For example, say I took labs in L59+L60 and I want to take F2+TF2. Right now, this is allowed as none of these slots overlap the other. However, as per the latest rules, this should

[2017-10-30 04:30] aerohitk commented on #72
@sangeeth96 @vatz88 would it be alright if I worked on this?

[2017-10-30 04:32] vatz88 commented on #72
Sure @aerohitk I'll assign it to you!

[2017-10-31 12:07] vatz88 commented on #72
@aerohitk sure you can work on it.

[2017-11-03 16:54] MrinalJain17 opened #76 "Feature: On selecting a free slot, display the available Courses in that Slot"
While creating the Timetable, almost everyone has some free slots in which they want to add some electives, but could not because searching for a suitable course is tiresome. It would be great if there was an option where the user can select a slot (say `A1 + TA1`) and a list of all courses available in that courses will be displayed.

[2017-11-03 16:59] vteja711 commented on #76
How are we supposed to avail this feature? Is it added or going to be added?

On Nov 3, 2017 22:24, "Mrinal Jain" <notifications@github.com> wrote:

While creating the Timetable, almost everyone has some free slots in which
they want to add some electives, but could not because searching for a
suitable course is tiresome. It would be great if there was an option where
the user can select a slot (s

[2017-11-03 17:18] vatz88 commented on #76
@MrinalJain17 Yes that would be a feature worth adding. But I think the new timetable with confusing slot timing may make it more difficult to implement. This would require change in UI and also adding new components. May not be possible for current FFCS, but I'll let this issue remain open for anyone interested in working on it.

[2017-11-05 22:58] aerohitk commented on #72
@vatz88 created the pr here #78. I attempted to go with the suggestion of using DataTables, but that was impossible to do without changing the way you currently add and remove rows. So, instead of rewriting existing infrastructure, I just added the code that would do the sorting. Plus, that saves a network request.

[2017-11-06 04:31] vatz88 commented on #72
@aerohitk thanks for the PR! I'll look into it.
@sangeeth96 review the PR.

[2017-11-30 05:53] #72 closed

[2018-06-21 16:48] guptaashish190 opened #81 "How did you get the json data?"
I wanted the updated json data. Just wanted to know how did you get the json data?

[2018-06-23 08:59] vteja711 opened #82 "New course allocation report available"
Here is the new one. Hope you update it soon.

[Fall 2018-19 Course Offered List.pdf](https://github.com/vatz88/FFCSonTheGo/files/2129776/Fall.2018-19.Course.Offered.List.pdf)

[2018-06-23 09:51] vatz88 commented on #81
I extracted it from the excel sheet.

[2018-06-23 09:51] #81 closed

[2018-06-23 10:21] vteja711 commented on #82
I just uploaded the json file here. It's zipped but I hope this helps.
[courseallocjson.zip](https://github.com/vatz88/FFCSonTheGo/files/2129828/courseallocjson.zip)

[2018-06-23 12:42] vatz88 commented on #82
@vteja711 Thanks but this json is not in expected format. Check the [README](https://github.com/vatz88/FFCSonTheGo/tree/master/util) file in util folder. Also from next time onwards, if possible just update the json and create a PR straight away!

[2018-06-23 13:37] #82 closed

[2018-06-23 14:03] divyam28 commented on #74
Put logic for all of them manually for the time being. For eg. If a student has TB1 AND L5 throw some error. I know doing it manually seems very laboursome but for the time being it will be pretty helpful to a lot of people! Hope it helps.

[2018-06-23 15:49] vteja711 opened #85 "Getting old data in timetable"
This json file is in the format you requested. Just update it. I would have made a PR but I don't know how. So, please update it.

[josncoursesupdated.zip](https://github.com/vatz88/FFCSonTheGo/files/2130034/josncoursesupdated.zip)

[2018-06-23 16:35] vatz88 commented on #85
It's all updated! Empty cache and hard reload.

[2018-06-23 16:35] #85 closed

[2018-06-23 16:38] vatz88 commented on #74
@divyam28 Thanks for the suggestion. The issue is open for anyone to take up. I'll see if I get time for it.

[2018-06-23 19:14] vatz88 opened #87 "Application Cache is removed, add Service Worker instead"
Application Cache is removed as many users faced issues with not getting the updated site and also because it's a deprecated feature.

Add Service Worker to give offline support.

---

- [x] I have checked that no other similar issue is open or possible closed as `wontfix`

- [ ] Please assign me this issue, I would like to work on it.

[2018-06-23 19:17] sangeeth96 commented on #87
Was gonna make a PR about this but was busy preparing for two crappy exams. AppCache must die.

Could get this done quickly using WorkBox. Works like magic.

On 24-Jun-2018 00:44, Vatsal Joshi <notifications@github.com> wrote:

Application Cache is removed as many users faced issues with not getting the updated site and also because it's a deprecated feature.

Add Service Worker to give offline su

[2018-06-23 19:19] vatz88 commented on #87
@sangeeth96 If you want to take this up, assign it to yourself and remove the `available` label.

[2018-06-23 19:27] vatz88 commented on #87
@sangeeth96 do we really need WorkBox? We aren't doing any complex application. Just storing static files and serving them back when offline.

[2018-06-23 19:47] sangeeth96 commented on #87
Just saying it's prolly a one liner. Sure, I don't think it would be that much of a work anyway to add precaching and the likes. Plus, I was thinking we could also add notification when updated assets are available. WB makes things simpler but if the other route needs to be tried first, can be done. Anyway, I have exams tomorrow and day after so prolly can't do it before 25. If you're free, do try

[2018-06-24 09:10] #74 closed

[2018-06-29 16:58] vatz88 opened #89 "Feature: Search course by slot"
Give option to filter course by slot after searching through course code or name.

---

- [x] I have checked that no other similar issue is open or possible closed as `wontfix`

- [ ] Please assign me this issue, I would like to work on it.

[2018-06-29 20:41] #89 closed

[2018-08-08 10:38] hrithik-jha commented on #76
Hi, I'm new to Open Source and I'd like to try. Since we know that the electives, for example, start from ITE or CSE40XX onward, then we can filter in those courses and apply the slot filter already available on the website. But this could be applied to all courses.

[2018-08-08 10:54] vatz88 commented on #76
@hrithik-jha Hi! Great that you are showing interest in contributing to open source.

As far as I know, electives don't necessarily start from ITE.

To use the exiting UI and slot filter, we may need to add a toggle button which has two state, one for search courses in free slot and not added and other for the normal (current) behaviour. There may be some other approaches as well.

@sangeeth96 can

[2018-08-18 12:58] hrithik-jha commented on #76
Perhaps a button could be added which says "Search by slot" which toggles the mode. Apart from this how to filter the courses for a specific slot from the vast number of courses?

[2018-08-18 18:15] vatz88 commented on #76
You'll have to filter the _all courses_ array to get the needed courses. Check out the [autocomplete_course.js](https://github.com/vatz88/FFCSonTheGo/blob/master/js/autocomplete_course.js) file. There are arrays, one for unique courses and one for all courses. You'll be using the `all_data` array.

Also, we can come up with some better label name other than `Search by slot` which would make it eas

[2018-11-11 06:54] C-Society opened #98 "'\n' not working"
Issue description here...

![image](https://user-images.githubusercontent.com/32087475/48310056-bf372d00-e5ac-11e8-984b-6688c183b969.png)

---

- [x] I have checked that no other similar issue is open or possible closed as `wontfix`

- [x] Please assign me this issue, I would like to work on it.

[2018-11-18 19:15] vatz88 commented on #98
Refer #97

[2018-11-18 19:15] #98 closed

[2019-06-23 14:40] AnmolTomer opened #110 "FFCSOnTheGo for VIT CHENNAI Campus"
Issue description :
Main goal to open this issue is to expand the capability of your project to CHENNAI campus as well because this tool has been really great so far and more and more people would like to have Chennai teacher's data on the app instead of manually entering everytime. A lot of people have requested this and I am willing to make this work. End goal here is to make the project useful

[2019-06-23 19:50] #110 closed

[2019-06-27 02:45] Trevahok opened #123 "Slot timetable changed for chennai campus"
Slot timetable is changed for Chennai campus. New one can be found here https://github.com/vatz88/FFCSonTheGo/files/3332764/Slot.Timetable.FALL.2018-19.pdf

Change: `TD1` to `TDD1` at the position of `L29`

---

- [x] I have checked that no other similar issue is open or possible closed as `wontfix`

- [X] Please assign me this issue, I would like to work on it.

[2019-06-27 03:09] vatz88 commented on #123
How much is the difference? We'll need change is architecture to support two different timetables.

[2019-06-27 03:14] Trevahok commented on #123
just slight ones … TD1 and TDD1 has changed, i changed the HTML in inspect element and it worked
[Slot Timetable FALL 2018-19.pdf](https://github.com/vatz88/FFCSonTheGo/files/3332764/Slot.Timetable.FALL.2018-19.pdf)

check out this ….

[2019-06-27 06:18] vatz88 commented on #123
From what I see, you asking change `TD1` to `TDD1` where `L29` is present, right?

@AnmolTomer can you verify if this change is correct for Chennai?

@sanket9918 I believe the timetable currently used on website is correct for Vellore and there is no change, can you confirm this?

[2019-06-27 07:44] AnmolTomer commented on #123
The given reference pdf is of Winter 2018-19, I compared it with General Slot time table on FFCSOnTheGo website. There are minor differences such as what Vellore has as slot V1, Chennai has it as TD1 on Wednesday and similarly for TDD1 in Chennai on Friday what Vellore has as TD1.
![Image with differences marked in Yellow](https://i.imgur.com/9dF7ngB.png) as pointed out by @Trevahok .
Other than t

[2019-06-27 07:58] sanket9918 commented on #123
It can be confirmed that till now some hundreds of the time table are already made and there is not a single issues in any of the timetable slot for Vellore Campus

I can confirm that the timetable slots are working fine.

[2019-06-27 12:00] vatz88 commented on #123
@sanket9918 what I'm asking is, timetable used by us matches exactly with the official VIT timetable right?

@AnmolTomer how much of an issue this difference is?

[2019-06-27 14:22] sanket9918 commented on #123
@vatz88 our timetable is exactly matching the university timetable

[2019-06-28 07:49] vatz88 commented on #123
@Trevahok @AnmolTomer @sanket9918 Do any of you guys want to pick it up? We need to fix this in such a way that we don't break anything for Vellore.

[2019-06-29 12:26] Trevahok commented on #123
I will look into the currrent codebase and tell you if i can do this … is that fine?

[2019-06-29 15:14] vatz88 commented on #123
@Trevahok sure. Even @AnmolTomer is looking into it too.

[2019-07-01 08:11] ashua4488 opened #124 "Add support for VIT AP campus"
HOW ABOUT CREATING SIMILAR FUNCTIONALITY FOR FFCS AP CAMPUS. THOSE GUYS ARE REALLY STRUGGLING.

[2019-07-01 17:43] AnmolTomer commented on #124
It just needs a similar excel file as we have for Vellore and Chennai campus. Check it out inside the util directory in the master branch of the repo. They have to make that and that would be a good start.

[2019-07-02 05:26] ashua4488 commented on #124
Yeah, they have all the slots and subjects in the excel sheet, but they
don't have the faculty and classrooms may be they should take the
screenshots while mock registration.
Actually, my brother is studying in AP. I created the timetable for him.

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Sender
notified by
Mailtrack
<https://

[2019-07-02 10:28] rishav394 opened #125 "Deleting/Renaming Table Default"
It would be great if we could also delete/Rename the `Table Default`.

![image](https://user-images.githubusercontent.com/18554373/60505842-25aac000-9ce2-11e9-900a-0d8718951156.png)

- [x] I have checked that no other similar issue is open or possibly closed as `wontfix`
- [ ] Please assign me this issue, I would like to work on it.

[2020-06-25 07:56] vatz88 commented on #87
Done #137 🥳

[2020-06-25 07:56] #87 closed

[2020-07-03 03:50] nobi1007 opened #142 "Sort not working"
**Describe the bug**
Not able to sort the selected courses based on the available headers, i.e., slot, course code, title etc.

**To Reproduce**
Steps to reproduce the behavior:
1. Select some courses, i.e., add some courses to your timetable
2. Click on Slot or code or any other table header

**Expected behavior**
After clicking on any table header the contents should be sorted accordingly, desce

[2020-07-03 10:09] nobi1007 commented on #142
is it fixed or need improvement?

[2020-07-03 10:16] vatz88 commented on #142
It is not fixed. If anyone wants, they can pick it up and submit a PR.

[2020-07-04 12:54] #142 closed

[2020-07-07 10:58] Anjan-11 opened #144 "Building filter in filter"
Issue 1:It would be great if you could add an option to filter the buildings in the filter option for eg: TT, SJT.
Thanks for the amazing website.

[2020-07-29 06:29] th3c0d3br34ker opened #148 "Time-table action buttons UI on mobile screen"
**Screenshots**
![image](https://user-images.githubusercontent.com/60807938/88764559-cb08bf80-d192-11ea-9dd4-4ec0bb852fe0.png)

**Smartphone (please complete the following information):**
 - Device: mobile phone
 - OS: [e.g. iOS8.1]
 - Browser [e.g. stock browser, safari]
 - Version [e.g. 22]

**Additional context**
Display the buttons vertically in mobile device.

[2020-07-29 06:35] th3c0d3br34ker commented on #148
I can raise a PR if you want. 😄

[2020-07-29 07:29] vatz88 commented on #148
@th3c0d3br34ker thanks for taking interest and raising this issue.

There's scroll intensionally added. This design is responsive. I'm not sure stacking up buttons vertically helps because it'll take up additional vertical space, which may be a waste considering the small phone screen.

I'm still open to ideas if there's anything which can make the UI/UX better. May be share a screenshot of what y

[2020-07-29 07:57] th3c0d3br34ker commented on #148
Yes, it does take up vertical space, but since it isn't between the search section or the timetable section (most used sections in this case), adding vertical space wont be a bad idea.

[2020-07-29 08:24] vatz88 commented on #148
But you still got some extra content to scroll before you could get to the time-table.

It's difficult to determine which UI/UX is correct because it very much depends on personal preference.
You're right but the current behaviour is not wrong either, so I guess we can skip this change for now.

Thanks!

[2020-07-29 08:24] #148 closed

[2020-12-17 07:42] vatz88 opened #151 "Feature: Let people upload course report excel sheet"
This will be helpful when there is no official course report sheet available but students have a report available for their branch or department.
After they upload the sheet, we can use it to provide them autocomplete for courses.
These changes will be local, and we should provide option to switch between the data site uses and one they have uploaded.

[2020-12-18 07:17] vatz88 opened #159 "Add a switch to toggle courses in course list"
This would be very helpful visualise them quickly without needing to remove or add new course.

Inspiration http://disq.us/p/2dvnyme

[2020-12-19 19:24] AnmolTomer commented on #123
Can be closed successfully @vatz88 . Had no issues last time, nothing of that sort for this time as well.

[2020-12-20 03:43] #123 closed

[2021-05-16 06:18] #125 closed

[2021-06-27 08:29] vatz88 opened #169 "Support different timetables for different campuses"
### Is your feature request related to a problem? Please describe.
Currently we only have one timetable for both Vellore and Chennai campuses. This works well if timetable followed by both campuses are same. But in case the timetable is different for both the campuses we don't have a way to support both of them.

### Describe the solution you'd like
Add support for different timetables for differe

[2021-07-02 15:40] therealsujitk commented on #144
I'll be able to take this up @vatz88, can you assign this to me? I'll work on it sometime this month. The `.xlsx` sheets already have a `VENUE` column, so it's basically copying and pasting stuff, but i'd like to make some minor improvements apart from this (related to this issue). I'll discuss about the changes i'm thinking of right here before starting anything.

[2021-07-02 16:42] vatz88 commented on #144
Sure @therealsujitk ! Go ahead. We already have solt filter available. Maybe you can do something on similar lines. And yes, improvements are always good. Feel free to discuss here, I'll be happy to help.

Thanks for taking this up :D

[2021-07-03 07:39] therealsujitk commented on #144
@vatz88 as of now there are two separate fields, one specifically for the course code and another for the course title. I was thinking why not merge them? It would look something like this.

![Screenshot from 2021-07-03 13-05-23](https://user-images.githubusercontent.com/60378235/124347016-96ea1a00-dbff-11eb-9804-ad67c121dc77.png)

![Screenshot from 2021-07-03 13-05-47](https://user-images.githubu

[2021-07-03 07:46] vatz88 commented on #144
Hey @therealsujitk this looks good! Less input fields and more space is always better. We can do this, more convenient than two fields and no compromise either

[2021-07-03 11:34] therealsujitk commented on #144
In this code snippet, I noticed you are checking if a `value` key is present and if it isn't you are iterating through a sub object assuming that the selected option was *all slots*. However there isn't an *all slots* option, were you hoping for that feature to be implemented in future? if so, i'll do the same thing for venues.

[code]

Also, is iterating through the `option` object necessary? I'v

[2021-07-03 11:48] vatz88 commented on #144
I honestly don't remember most of the code because it's been very long since i wrote it. You should feel free to refactor it but make sure all edge cases are covered.

I think one of the assumptions is that if no slot is selected in the slot filter, we show all the course for all the slots (think it as an implicit all slots option). If we don't do this, since no slot is selected initially, no cour

[2021-07-03 12:06] therealsujitk commented on #144
I've done pretty much the same thing for the venue filter. I'm almost done with this, I just want to make some changes to the local datasheet to test if it's working as it should. As this issue is pretty much complete, can you open a new issue for adjustments, improvements and some code cleaning before the next release as it isn't related to this issue?

This is how it looks with the new filter, i

[2021-07-03 12:26] therealsujitk commented on #144
@vatz88 just confirming, what i've done is filter according to the venues provided, for example it filters **AB1 - 101** or **AB1 - 102**. It doesn't give you all the courses in **AB1** alone.

[2021-07-03 12:42] vatz88 commented on #144
filter are applied on top of course which is being searched, so this should be good

Thanks for the PR, I'll review it in my free time. Make sure you have tested all edge cases. Also, test to make sure new changes are good wrt mobile too, mostly layout and responsiveness.

For more PR on improvements/ code clean up, you can create new issues for the same by yourself

[2021-07-03 13:11] therealsujitk opened #172 "Improvements and cleaning for the next release"
This issue is for discussions related to code clean ups & improvements.

[2021-07-03 13:14] therealsujitk commented on #172
I was thinking of giving a light purple colour to the scrollbar background and replacing the GitHub alert with a GitHub corner as shown below.

![image](https://user-images.githubusercontent.com/60378235/124355363-58b81f00-dc2e-11eb-974f-98033a32a4a0.png)

[2021-07-03 13:55] vatz88 commented on #172
Looks good! How would it look on tab and mobile? Can you add a screenshot for that too?

[2021-07-03 14:20] therealsujitk commented on #172
On the right corner, it would look like this. I thought it looked better on the left since on the right the scrollbar kinda interferes.
![image](https://user-images.githubusercontent.com/60378235/124357009-e861cb80-dc36-11eb-9264-89610c3b2156.png)

This is how it'll look on mobile devices (pretty much the same on tablets).
![image](https://user-images.githubusercontent.com/60378235/124356919-6ec9d

[2021-07-03 15:35] therealsujitk commented on #144
Right now it'll filter out the venues along with the rooms in it, but I think what the author was asking for was to filter them according to their venues alone.

For example if **CSE1001** is available in **AB1 - 101**, **AB1 - 303** & **AB2 - 204**, the current filter will show **AB1 - 101**, **AB1 - 303** & **AB2 - 204**. However I think the author wanted the filter to show **AB1** & **AB2**. I

[2021-07-05 05:52] therealsujitk commented on #172
There are two components of this application I'd like to improve,

- I've noticed the JavaScript needs a bit of cleaning and there are a lot of functions that are currently deprecated in the latest version of jQuery as well as JavaScript. For example `keyCode` and `click()`.
- I'd also like to improve the design, this application currently uses Bootstrap 3.0, I'm working on upgrading it to Bootstr

[2021-07-05 06:16] vatz88 commented on #144
What you're saying makes sense. In the current excel sheet, I don't see venues present. Plus we can't expect VIT to provide we with consistent format for venue. How about for now we merge the change of combined input for course code and title and let venue thing be for later?
Can you raise PR with only that one change? I'll merge it

[2021-07-05 06:26] vatz88 commented on #172
Design surely needs some improvements. Just to give to some historical context, the timetable you see, it has the exact colors as were present in the timetable in student login when I build this. This was to give users the same feel and look to which the are used to when they see the timetable. I don't know have it looks in the student login now.

I'm very much in for improving the design but the

[2021-07-05 06:33] therealsujitk commented on #144
Sure! I'll close the current one and open a new pull request with the merged inputs alone.

[2021-07-05 06:44] therealsujitk commented on #172
It looks pretty much the same, VIT doesn't really change much, if something works leave it as is lol.

![image](https://user-images.githubusercontent.com/60378235/124428443-5b2f8b80-dd8a-11eb-88b7-ecfd90feb512.png)

I think it'll be best to keep the timetable colours the same. The design improvements will be mostly moving stuff around and adjusting border and margins (so there won't be any major c

[2021-07-05 06:54] vatz88 commented on #172
Yes, sure. We can merge these kind of improvements.

Yes! In fact stats are amazing to look at. Share you email id, I'll give you access to google analytics

[2021-07-05 07:07] therealsujitk commented on #172
Sure! My email: me@therealsuji.tk

[2021-07-05 12:18] therealsujitk commented on #172
I've grouped all the buttons like this. On mobile they'll show up one below the other (unless there's more space).

![image](https://user-images.githubusercontent.com/60378235/124469088-8c728080-ddb7-11eb-9ab6-1ccd9bc568e0.png)

A modal will show up when the rename button is clicked. I've also added confirmation modals when a user resets or deletes a table.

![image](https://user-images.githubuser

[2021-07-05 15:28] vatz88 commented on #172
Hey, the new design for buttons look good!

Two things:
1) Can we not show them one bellow another on small screens? Let's keep the scroll, otherwise it'll add lot of scroll in-between when you want to see the time table and then access the course search box.
2) Can we keep the edit and delete within the dropdown? That position is very self explanatory. It also lets you delete and edit table which

[2021-07-05 15:30] therealsujitk commented on #172
Alright, I'll see what I can do.

[2021-07-05 17:24] therealsujitk commented on #172
Here's what it looks like.

![image](https://user-images.githubusercontent.com/60378235/124503281-d9b81780-dde2-11eb-98f4-6c2247d0b65f.png)

I've implemented this like you asked, however I'm not a fan of scrolling buttons. I can't think of an improvement to this right now but hopefully I can come up with something. As of now it's scroll-able on mobile devices like you asked. I'm open to suggestion

[2021-07-05 17:52] vatz88 commented on #172
This looks good. Vertical scroll on buttons is consistent with current behaviour. Even I don't know what's best tbh.
We can merge this for now.

Thanks and all the best for your FAT!

[2021-07-05 18:11] sangeeth96 commented on #172
Great job @therealsujitk, did great work (been watching from the sidelines 👀 ) and you too, @vatz88 for juggling between day job and reviewing the work here even after all this time.

@vatz88 on a side note, should add a contributors section in the README, with those fancy circle avatars or the rectangle thingy. Maybe @therealsujitk or someone else can help add that thingy when they're available.

[2021-07-05 18:17] vatz88 commented on #172
We can do that, not a super high prio though. GitHub already does a good work of highlighting contributors.
![image](https://user-images.githubusercontent.com/16202323/124507266-1425b280-ddeb-11eb-8290-79dff8ac05e4.png)

---

More importantly we need a CONTRIBUTING.md to help out new people willing to contribute

[2021-07-05 18:48] sangeeth96 commented on #172
Agreed! README prettifying and adding a `CONTRIBUTING.md` can be great good first issues! 🚀

[2021-07-06 03:23] therealsujitk commented on #169
Just thought I should add this here, this is what my **Winter Semester 2020-21** timetable looks like (Chennai campus, BCE).

![image](https://user-images.githubusercontent.com/60378235/124536289-570c7800-de35-11eb-9022-b6216a83f08a.png)

It was different for **Fall Semester 2020-21**, the timings were different and he had a few more slots. They updated VTOP so that you can only view timetables fo

[2021-07-06 05:31] SamPrinceFranklin opened #175 "Faculty List Not Yet Updated"
Well for the Chennai Campus some Courses are missing for MTech Integrated Software Engineering and some faculty name list are not yet updated! |

Anyway that can be done to update? I have some data regarding faculty list and courses.

[2021-07-06 06:18] vatz88 commented on #169
The current timetable we are using in this site is what Vellore is using currently (best to my knowledge). @sanket9918 can confirm and help you with any more information you'd want.

Yes, that the idea here. Support multiple timetable and make it easier to update timetables. One of the approaches I can think of for achieving this is to have a define a timetable schema (probably json). And we shoul

[2021-07-06 06:20] vatz88 commented on #175
Hey, if you can provide all the data in the format in this excel https://github.com/vatz88/FFCSonTheGo/blob/master/util/report_chennai.xlsx we can update it.

[2021-07-06 06:29] therealsujitk commented on #169
Yeah, I was thinking the same. I think someone is already working on a patch? If not I'll see what I can do next week as this would cause conflicts with the redesign.

If there are different layouts for other branches we'll be able to support them too by giving an option to select a layout. The schema's can be defined in files like `layout_vellore_a.json`, `layout_chennai_a.json`, etc.

[2021-07-06 06:44] vatz88 commented on #175
@SamPrinceFranklin can you verify this https://github.com/vatz88/FFCSonTheGo/pull/170 It seems to have updated the course list. I'll merge it after verifying

[2021-07-06 06:45] vatz88 commented on #169
You can pick it up next week. Sync with @hariketsheth once if he has made any progress on it

[2021-07-06 14:35] namitgpta opened #178 "CSE2006 Microprocessor and Interfacing not available"
**Describe the bug**
CSE2006 Microprocessor and Interfacing not available on your website. Please add it along with the faculty list.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help

[2021-07-10 14:23] therealsujitk commented on #172
This is the design I came up with for the course slot selection section.

![image](https://user-images.githubusercontent.com/60378235/125166068-7699fc80-e1b7-11eb-89a4-caaa93362302.png)

Previously there was a max limit on the number of slot buttons (i.e. 4) per row, I've gotten rid of that by implementing `display: flex; flex-wrap: wrap;` on the container and using `flex-grow: 1; width: 250px` on

[2021-07-10 18:16] vatz88 commented on #172
Looks good! Are you migrating to bootstrap 5? If so, can you please raise the PR only with migration? I'd be easier to review. New design changes can be done in a follow up PR

[2021-07-10 18:46] therealsujitk commented on #172
I wish it were that easy, the problem is in Bootstrap v5.0 a lot of changes have been made since v3.0 and that involves some components being removed as well. For example if you notice I've completely removed the blue panel in the slot selection section, that's because there is no longer a panel in Bootstrap 5.

When I first upgraded Bootstrap to v5.0 using yarn, several things broke, the colours

[2021-07-12 05:33] vatz88 commented on #172
Ah, makes sense. Do as you feel is easier. But try to break down into independent PRs when possible.
You can also keep a draft PR raised so I can have a look at the code and suggest any changes needed

[2021-07-12 05:35] vatz88 commented on #172
If it's making difficult to make things work with BS5 then we can stick with BS3. I know it's not easy to update, if it was easier to upgrade, i'd have done to BS4 by myself.

[2021-07-12 07:23] therealsujitk commented on #172
Right now I'm only working on the design, so majority of the changes are in `/src/index.html` and `/src/css/main.scss`. Apart from this I've made a few JS changes to match with the design.

Alright, I'll do that shortly. As of now most of design is complete, I'll just have to make some adjustments to make sure it's comfortable to use on all screens (larger as well as smaller). I haven't started th

[2021-07-12 09:52] vatz88 commented on #172
Your 2nd point makes lot of sense!
(I wasn't smart enough back then to give give good variable names or follow good file naming conventions :P)

[2021-07-12 14:43] therealsujitk commented on #172
For those scroll-able option buttons I was thinking of something like this.

Desktop: [Section 2 Screenshot](https://user-images.githubusercontent.com/60378235/125306441-da096300-e34c-11eb-8d47-6a94f6eb71a5.png)
Mobile: [Section 2 Screenshot](https://user-images.githubusercontent.com/60378235/125306628-fe653f80-e34c-11eb-86b1-eb15de038cbd.png)

I'm still trying to center them correctly on desktop.

[2021-07-12 17:23] therealsujitk commented on #172
I've opened a draft PR, deployed to [Netlify](https://deploy-preview-179--ffcsonthego.netlify.app/).

[2021-07-13 11:05] therealsujitk commented on #169
This is what the **Winter Semester 2020-21** timetable looks like (Vellore campus, BCE). Can @sanket9918 confirm?

![unknown (2) (1)](https://user-images.githubusercontent.com/60378235/125441361-a3f18fcf-44c0-4f57-bce4-c2a4d30edce5.png)

[2021-07-14 17:39] therealsujitk commented on #172
@vatz88, I just noticed a small bug that I believe was caused by my previous PR (#174). When a course is double clicked from the course list, it doesn't load it into the course input. I'll fix this in the clean-up PR.

[2021-07-14 18:28] vatz88 commented on #172
Thanks for noticing! Which clean up PR though? We can merge the PR with only this fix, it doesn't have to wait for other changes since it's already broken on prod

[2021-07-14 18:44] therealsujitk commented on #172
Alright, I'll open a PR tomorrow fixing this issue. The FFCS Redesign PR (#179) mostly only changes the design and none of the business logic. So it shouldn't break anything and can be merged. However there is a lot of unused resources and redundant code that needs to be removed. So for that I'll create another PR cleaning up everything, moving functions and rules to different files to keep things

[2021-07-15 16:34] therealsujitk commented on #172
@vatz88, for the timetable screenshot, i'm working on improving it. Users will be able to download a pdf file containing the timetable and the course list. The best part, It'll be text embedded in the pdf and not images, so the quality would be pretty good.

![image](https://user-images.githubusercontent.com/60378235/125824277-776c11b8-53aa-4db4-a933-62b1b95b8857.png)

There's still a lot of adjus

[2021-07-15 16:58] vatz88 commented on #172
Awesome! We should keep it as an additional option, can't remove image option because images are easier to share (on whatsapp with friends) and quickly view

[2021-07-16 07:55] therealsujitk commented on #172
This is what the PDF file will look like. If you'd like me to add some more things, let me know.

![image](https://user-images.githubusercontent.com/60378235/125911620-f92d8c72-8cfd-47b6-989c-9a81b7e500e3.png)

<hr>

I originally thought this could fully replace the images, since the scroll to top was a hack and could fail at any time and I assumed sending PDF files were just as easy if not better

[2021-07-16 17:20] therealsujitk commented on #172
I've cleaned up the SCSS files and removed everything that's redundant (which was quite a bit). I've separated out colours into a separate file like this.

[code]

This way the colours can be modified easily and the pull request for dark theme will be reviewing a single file.

[2021-07-17 10:39] therealsujitk commented on #172
@vatz88, there's an event to prevent the context menu from opening in buttons and the timetable. Why was this added?

[code]

[2021-07-17 13:48] vatz88 commented on #172
I don't remember, we can remove it

[2021-07-18 14:24] therealsujitk commented on #172
@vatz88, I've improved downloading images (which I'll be adding to the cleanup PR). The hack of scrolling to the top is no longer needed. This is how It looks.

![FFCS On The Go Default Table (Timetable)](https://user-images.githubusercontent.com/60378235/126070835-17f8e8da-0855-403c-905c-5f81a7674d5a.jpg)

I'll do the same thing for the course list. It'll have the same header.

[2021-07-19 08:51] therealsujitk commented on #169
Here's the JSON file (Chennai) I thought can be used for this issue. I am **NOT** currently working on this (maybe sometime in the future, if I do I'll mention it here), so this is available for anyone who'd like to take it up. You'll have to also check for time clashing using JavaScript and add classes like `no-pre-theory` or `no-post-lab` accordingly.

[code]

[2021-07-19 17:37] shuklasaharsh opened #182 "Fall Semester 2021"
# Fall Semester 2021

### It's that time of the year peeps.

[2021-07-19 18:04] vatz88 commented on #182
YESSS! Do you have the course allocation report?

[2021-07-20 07:39] CrypticMuze commented on #182
docs.google.com/spreadsheets/d/19rOSY6HZlaF_BL9PkI6DQL9T2z57tGKn4jLnyzMCs7A/edit#gid=1506103244

[2021-07-20 07:42] #182 closed

[2021-07-23 10:13] vatz88 commented on #178
https://github.com/vatz88/FFCSonTheGo/pull/185 this should have fixed it

[2021-07-23 10:13] #178 closed

[2021-07-23 10:13] vatz88 commented on #175
https://github.com/vatz88/FFCSonTheGo/pull/185 should have fixed it

[2021-07-23 10:13] #175 closed

[2021-07-31 16:23] therealsujitk opened #193 "Minor improvements and cleaning"
- [ ] Remove unused resources and redundant code (#208)
- [ ] Update / Remove deprecated code (#208)
- [ ] Move functions and rules into separate files (#208)
    - [ ] Move JS functions into separate files (Ex: `course-panel.js`, `timetable.js`, `course-list.js`)
    - [ ] Move SCSS rules into separate files (Ex: `course-panel.scss`, `timetable.scss`, `course-list.scss`)
- [ ] Normalise variable

[2021-07-31 16:24] #172 closed

[2021-08-05 06:18] vatz88 commented on #193
Updating CONTRIBUTING.md can be a separate issue and PR

[2021-08-05 08:13] therealsujitk opened #195 "Update contributing guidelines"
The [`CONTRIBUTING.md`](https://github.com/vatz88/FFCSonTheGo/blob/master/.github/CONTRIBUTING.md) file needs to be updated to make contributing easier for people looking to contribute for the first time.

It should include,
- [ ]  Steps to install this application locally.
- [ ] What to do before you start working on an issue, opening an issue or requesting a feature.
- [ ] Where to look for code

[2021-08-08 10:47] therealsujitk commented on #193
@vatz88 why are the packages `sass` and `xlsx` devDependencies? Shouldn't they by dependencies? I assume it's running properly on Netlify because it installs devDependencies as well.

Also, it doesn't look like `@sentry/browser` is being used. Can I remove it?

[2021-12-02 02:49] Abhishek911cse opened #203 "Update the website for Winter semester 2021-22"
I've attached the course allocation report. Please update the website with these new courses. Thanks!

---
[Winter Semester 2021-22 _ Course Allocation Report.pdf](https://github.com/vatz88/FFCSonTheGo/files/7638605/Winter.Semester.2021-22._.Course.Allocation.Report.pdf)

[2021-12-02 05:30] Hsad1644 commented on #203
[Winter Semester 2021-22 _ Course Allocation Report-converted.xlsx](https://github.com/vatz88/FFCSonTheGo/files/7639244/Winter.Semester.2021-22._.Course.Allocation.Report-converted.xlsx)

Excel template attached above please review and update!

[2021-12-02 12:59] vatz88 commented on #203
Updated with #205

[2021-12-02 12:59] #203 closed

[2021-12-11 06:36] Tharun-PS opened #207 "Total No of credits"
**Describe the bug**
1. The credits column doesn't show up the equivalent credits for the component registered.
2. The total number of credits is not getting updated when user is adding courses to his/her panel

**To Reproduce**
Steps to reproduce the behavior:
1. Go to course panel and search for course
2. Click on any available course and select 'Add course'
3. Scroll down to see Registered cour

[2021-12-11 07:59] vatz88 commented on #207
This isn't a bug, we don't have the credits data to show here.

[2021-12-11 07:59] #207 closed

[2021-12-11 10:56] therealsujitk commented on #193
@vatz88 when free, do you think you can add the [`hacktoberfest`](https://github.com/topics/hacktoberfest) topic to this repository so that PRs will count as valid contributions during this event. As of October 2021 they said only if a repository has this topic or if PRs have a `hacktoberfest` label they will be counted as contributions.

![image](https://user-images.githubusercontent.com/60378235

[2021-12-11 11:17] vatz88 commented on #193
@therealsujitk done

[2021-12-28 17:06] therealsujitk opened #209 "Add option to download course list"
Add a button to download the course allocation list. An ideal location for this button would be somewhere in the course panel.

Source: http://disq.us/p/2ladb6i

[2021-12-31 15:28] therealsujitk commented on #169
I've made some progress on this one, timetable schemas can easily be changed in the JSON file in future if any changes are required. The only thing left is to figure out how to check for slot clashes, will probably have to make use of JavaScript's [`Date()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date) class. I think this should be ready by next week.

htt

[2022-04-08 10:34] parthvaghela19 opened #215 "Filter courses by free and paid on Learndash)"
I need to add one filter like dropdown for free course and paid course and also include age wise dropdown (for ex. 5 grade to 10 grade student)

I am using wordpress, Learndash LMS plugin, BuddyBoss theme
#215

![Courses](https://user-images.githubusercontent.com/99802104/162419791-dcb0ce3a-159f-4cca-8c99-fd4e022c7d17.PNG)

[2022-04-09 04:41] therealsujitk commented on #215
@parthvaghela19 your question doesn't seem to have anything to do with this project or any of it's technologies. You'll be better off asking questions like this on StackOverflow or other similar sites.

[2022-04-09 04:41] #215 closed

[2022-05-27 13:02] #169 closed

[2022-06-05 10:17] therealsujitk opened #217 "Migrate to Google Analytics 4"
@vatz88 looks like we'll have to migrate before 1 July 2023. There's still a lot of time so it's not urgent.

### Links

- [Version check](https://support.google.com/analytics/answer/11583832) - According to this we are currently using Universal Analytics
- [Meet the next generation of Google Analytics](https://support.google.com/analytics/answer/10089681)